<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="profesor" class="com.yettensyvus.sms.Profesor">
        <constructor-arg value="Alex Straton"/>
        <constructor-arg value="Bio-Chimia"/>
        <constructor-arg value="5"/>
    </bean>

    <bean id="curs" class="com.yettensyvus.sms.Curs">
        <constructor-arg value="Chimia"/>
        <constructor-arg value="2"/>
        <constructor-arg ref="profesor"/>
    </bean>
</beans>
